* {
    font-family: 'Inter', sans-serif !important;
}

body {
    background-color: #E5E5E5;
}
footer {
    padding: 1em;
button:hover {
    background-color: #d6d6d6;
}
#ingreso-texto textarea {
    background-color: transparent;
}
#resultado {
    background-color: white;
}
    background-color: #0A3871;
    color: white;
}

#mis-redes img{
    filter: invert(1);
#mis-redes img {
    margin-left: 0.5em;
    width: 2em;
    filter: invert(1);
}

.oculto {
    display: none;
}