* {
    font-family: 'Inter', sans-serif !important;
}

body {
    background-color: #E5E5E5;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

#icono {
    margin-left: 1.5em;
}

#ingreso-texto {
    width: 60%;
}

button {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid #1d1d1d;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s background-color;
}

button:hover {
    background-color: #d6d6d6;
}

button:active {
    transform: scale(1.01);
}

#ingreso-texto button {
    margin-right: 1em;
    width: 50%;
}

#ingreso-texto textarea {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
}

#ingreso-texto textarea::placeholder,
textarea {
    font-size: 2rem;
    line-height: 150%;
    color: #0A3871;
}

#ingreso-texto textarea + p {
    margin-top: 1.8em;
    font-size: 0.85em;
}

#ingreso-texto div {
    display: flex;
}

#resultado {
    background-color: white;
    color: #1d1d1d;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 20px;
    width: 30%;
    height: 33em;
    overflow-y: auto;  
}
    
#encontrado button {
    width: 100%;
}

#no-encontrado h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em 0;
}

footer {
    background-color: #0A3871;
    color: white;
    padding: 6px 2em;
    display: flex;
    justify-content: space-between;
}

#mis-redes img {
    margin-left: 0.5em;
    width: 2em;
    filter: invert(1);
}

.oculto {
    display: none;
}